<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseSettings" type="System.Configuration.NameValueSectionHandler"/>
		<section name="ApiSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<DatabaseSettings>
		<add key="Host" value="localhost"/>
		<add key="Database" value="postgres"/>
		<add key="Port" value="5432"/>
		<add key="Username" value="postgres"/>
		<add key="Password" value=""/>
	</DatabaseSettings>

	<ApiSettings>
		<add key="AuthToken" value=""/>
		<add key="BaseUrl" value="https://api.football-data.org/v4/"/>
	</ApiSettings>
</configuration>